# Changes here will be overwritten by Copier; NEVER EDIT MANUALLY
{% set ns = namespace(items={}) %}
{% for k, v in _copier_answers.items() %}
{% if k not in ['brave_api_key', 'firecrawl_api_key'] %}
{% if ns.items.update({k: v}) %}{% endif %}
{% endif %}
{% endfor %}
{% if ns.items.update({
  'brave_search': ((brave_api_key | default('', true)) | length) > 0,
  'firecrawl': ((firecrawl_api_key | default('', true)) | length) > 0
}) %}{% endif %}
{{ ns.items|to_nice_yaml -}}
